.header {
  text-align: center;
  margin-left: 120px;
}

.header button {
  border: none;
  background: none;
  color: black;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.header button:hover {
  font-weight: bold;
}

.log-out {
  float: right;
}

@media (max-width: 1200px) {
  .header {
    width: max-content;
    margin: 0 auto;
  }

  hr {
    visibility: hidden;
  }
}
