.rocket {
  display: inline-flex;
  margin: 30px 30px;
  text-align: left;
}

.rocket .content {
  text-align: center;
  margin-left: 100px;
}

.content button {
  text-decoration: none;
  display: inline-block;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 50px;
  margin-top: 100px;
}

.rocket img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .rocket {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
  }

  .rocket .content {
    text-align: center;
    margin-right: 60px;
  }
}
